:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
    "Segoe UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: var(--font-family);
}

body {
  --at-apply: antialiased tabular-nums leading-relaxed;
}

a {
  --at-apply: inline-block;
}
