---
import type { IEducation } from "~types/education"
import { getAllEducations } from "~api/education"
import EducationDetails from "./EducationDetails.astro"

interface Props {
  class?: string
}
const { class: className } = Astro.props

const educationDetailsList: IEducation[] = []

try {
  const educations: IEducation[] = await getAllEducations()
  educationDetailsList.push(...educations)
} catch (error) {
  console.error(error)
}
---

<section class={className}>
  <header
    class="sticky top-0 z-20 mb-4 bg-gray-100 px-6 py-5 text-(sm gray-800) font-semibold tracking-widest uppercase -mx-6 dark:(bg-transparent text-gray-300 backdrop-blur-lg)"
  >
    education
  </header>
  <ul>
    {
      educationDetailsList.map((it) => (
        <li class="mb-16 last-of-type:mb-0">
          <EducationDetails {...it} />
        </li>
      ))
    }
  </ul>
</section>
