---
import AppLink from "~components/AppLink.astro"
import type { ISocial } from "~types/social"
import { getAllSocials } from "~api/social"
import ToggleColorScheme from "~components/ToggleColorScheme.astro"

const socials: ISocial[] = []

try {
  const socialsList: ISocial[] = await getAllSocials()
  socials.push(...socialsList)
} catch (error) {
  console.error(error)
}
---

<section>
  <header
    class="text-md sticky top-0 z-20 mb-12 flex items-center justify-between bg-gray-100 px-6 py-5 text-(gray-800) tracking-widest lowercase -mx-6 dark:(bg-transparent text-gray-300 backdrop-blur-lg)"
  >
    <AppLink url="/">resume</AppLink>
    <ToggleColorScheme class="text-lg" />
  </header>

  <!-- Name -->
  <h1 class="text-(4xl gray-800) font-medium tracking-tight capitalize dark:text-gray-300">jianqiang du</h1>

  <!-- Job Title -->
  <div class="mt-4 text-(lg gray-800) font-medium tracking-tight capitalize dark:text-gray-300">Software Developer</div>

  <!-- Description -->
  <p class="mt-16 leading-normal">
    <span>I am the creator of</span>
    <span class="inline-flex">
      <AppLink
        class="text-gray-800 dark:text-gray-300"
        url="https://github.com/yurikong/astro-theme-resume-minimalist"
        showSuffixIcon
      >
        Astro Theme Resume Minimalist
      </AppLink>
      .
    </span>
  </p>

  <!-- Social Contacts -->
  <ul class="mt-8 flex flex-wrap items-center gap-5 text-2xl leading-none">
    {
      socials.map((it) => (
        <li>
          <AppLink url={it.url} showPrefixIcon prefixIconClassName={it.iconClassName} title={it.name} />
        </li>
      ))
    }
  </ul>
</section>
