---
import AppLink from "~components/AppLink.astro"
import type { ISocial } from "~types/social"

const socials: ISocial[] = [
  { name: "WeChat", iconClassName: "i-ri:wechat-line" }, // WeChat
  { name: "Email", iconClassName: "i-ri:mail-line", url: "mailto:jackdu2013@163.com" }, // Email
  { name: "Portfolio", iconClassName: "i-ri:earth-line", url: "https://yurikong.github.io" }, // Portfolio
  { name: "Github", iconClassName: "i-ri:github-line", url: "https://github.com/yurikong" }, // Github
  { name: "LinkedIn", iconClassName: "i-ri:linkedin-box-line", url: "https://www.linkedin.com/in/jianqiang-du/" }, // LinkedIn
  { name: "Instagram", iconClassName: "i-ri:instagram-line", url: "https://www.instagram.com/jackduu/" }, // Instagram
  { name: "Twitter X", iconClassName: "i-ri:twitter-x-line", url: "https://x.com/yurikong2017" }, // Twitter X
]
---

<div>
  <!-- Name -->
  <h1 class="text-4xl font-semibold tracking-tight capitalize">
    <AppLink url="https://yurikong.github.io" title="Portfolio">jianqiang du</AppLink>
  </h1>

  <!-- Job Title -->
  <div class="mt-4 text-lg font-medium tracking-tight capitalize">Software Developer</div>

  <!-- Description -->
  <p class="mt-6 text-base">
    <span class="inline-block">I am the creator of</span>
    <span class="inline-flex">
      <AppLink
        url="https://github.com/yurikong/astro-theme-resume-minimalist"
        showSuffixIcon
        title="Project Repository"
      >
        Astro Theme Resume Minimalist
      </AppLink>
      .
    </span>
  </p>

  <!-- Social Contacts -->
  <ul class="mt-8 flex items-center gap-5 text-2xl leading-none">
    {
      socials.map((it) => (
        <li>
          <AppLink url={it.url} showPrefixIcon prefixIconClassName={it.iconClassName} title={it.name} />
        </li>
      ))
    }
  </ul>
</div>
