---
import AppLink from "~components/AppLink.astro"
import type { ISocial } from "~types/social"
import ToggleColorScheme from "~components/ToggleColorScheme.astro"

const socials: ISocial[] = [
  { name: "WeChat", iconClassName: "i-ri:wechat-line" },
  { name: "Email", iconClassName: "i-ri:mail-line", url: "mailto:jackdu2013@163.com" },
  { name: "Portfolio", iconClassName: "i-ri:earth-line", url: "https://yurikong.github.io" },
  { name: "Github", iconClassName: "i-ri:github-line", url: "https://github.com/yurikong" },
  { name: "LinkedIn", iconClassName: "i-ri:linkedin-box-line", url: "https://www.linkedin.com/in/jianqiang-du/" },
  { name: "Instagram", iconClassName: "i-ri:instagram-line", url: "https://www.instagram.com/jackduu/" },
  { name: "Twitter X", iconClassName: "i-ri:twitter-x-line", url: "https://x.com/yurikong2017" },
]
---

<section>
  <ToggleColorScheme class:list={["fixed", "top-5", "right-6", "z-21", "text-xl"]} />

  <header
    class:list={[
      "sticky",
      "top-0",
      "z-20",
      "px-6",
      "py-5",
      "mb-12",
      "-mx-6",
      "leading-tight",
      "tracking-widest",
      "lowercase",
      "text-gray-800",
      "dark:text-gray-300",
      "bg-gray-100",
      "dark:bg-gray-900",
    ]}
  >
    <AppLink url="/">resume</AppLink>
  </header>

  <!-- Name -->
  <h1 class:list={["text-4xl", "font-medium", "tracking-tight", "capitalize", "text-gray-800", "dark:text-gray-300"]}>
    jianqiang du
  </h1>

  <!-- Job Title -->
  <div
    class:list={[
      "text-lg",
      "font-medium",
      "tracking-tight",
      "capitalize",
      "text-gray-800",
      "dark:text-gray-300",
      "mt-2",
    ]}
  >
    Software Developer
  </div>

  <!-- Description -->
  <p class:list={["leading-normal", "mt-8"]}>
    <span>I am the creator of</span>
    <span class="inline-flex">
      <AppLink
        class:list={["text-gray-800", "dark:text-gray-300"]}
        url="https://github.com/yurikong/astro-theme-resume-minimalist"
        showSuffixIcon
      >
        Astro Theme Resume Minimalist
      </AppLink>
      .
    </span>
  </p>

  <!-- Social Contacts -->
  <ul class:list={["flex", "flex-wrap", "items-center", "gap-5", "text-2xl", "leading-none", "mt-12"]}>
    {
      socials.map((it) => (
        <li>
          <AppLink url={it.url} showPrefixIcon prefixIconClassName={it.iconClassName} title={it.name} />
        </li>
      ))
    }
  </ul>
</section>
