---
import type { IProject } from "~types/project"
import { getDisplayProjects } from "~api/project"
import ProjectDetails from "./ProjectDetails.astro"
import AppLink from "~components/AppLink.astro"

interface Props {
  class?: string
}
const { class: className } = Astro.props

const projectDetailsList: IProject[] = []

try {
  const projects: IProject[] = await getDisplayProjects()
  projectDetailsList.push(...projects)
} catch (error) {
  console.error(error)
}
---

<!-- Projects -->
<section class={className}>
  <h2
    class="sticky top-0 z-20 mb-4 bg-gray-100 px-6 py-5 text-(sm gray-800) font-semibold tracking-widest uppercase -mx-6"
  >
    projects
  </h2>
  <ul>
    {
      projectDetailsList.map((it) => (
        <li id={it.id} class="mb-16 last-of-type:mb-0">
          <ProjectDetails {...it} />
        </li>
      ))
    }
  </ul>

  <!-- View All Projects -->
  <AppLink
    class="mt-24 block text-gray-800 font-semibold capitalize"
    url="/project"
    showSuffixIcon
    suffixIconClassName="i-ri:arrow-right-line"
  >
    view all projects
  </AppLink>
</section>
