---
import type { IProject } from "~types/project"
import { Repository } from "~types/repository"
import { mostRecentYearComparator } from "~utils/comparators"
import ProjectDetails from "./ProjectDetails.astro"
import AppLink from "~components/AppLink.astro"

interface Props {
  class?: string
}
const { class: className } = Astro.props

const projectDetailsList: IProject[] = [
  {
    name: "Astro Theme Resume Minimalist",
    description: "An open-sourced minimal resume site template built with Astro.",
    technologiesUsed: ["Astro", "Typescript", "Unocss", "HTML & CSS", "Github Pages"],
    startYear: 2024,
    endYear: 2024,
    repository: new Repository("yurikong", "astro-theme-resume-minimalist"),
  },
  {
    name: "Certificate of Analysis Generator",
    description:
      "Desktop app for generating Certificate of Analysis with a few clicks in an analytical testing laboratory.",
    technologiesUsed: ["Flutter"],
    startYear: 2023,
    endYear: 2023,
  },
].toSorted(mostRecentYearComparator)
---

<!-- Projects -->
<section class={className}>
  <h2
    class="sticky top-0 z-20 mb-4 w-vw bg-gray-100 px-6 py-5 text-(sm gray-800) font-semibold tracking-widest uppercase -mx-6"
  >
    projects
  </h2>
  <ul>
    {
      projectDetailsList.map((it) => (
        <li class="mb-16 last-of-type:mb-0">
          <ProjectDetails {...it} />
        </li>
      ))
    }
  </ul>

  <!-- View All Projects -->
  <AppLink class="mt-24 block text-gray-800 font-semibold capitalize" showSuffixIcon title="Project Archives">
    view all projects
  </AppLink>
</section>
