---
import { getRelativeLocaleUrl } from "astro:i18n"
import HeadIcons from "~components/HeadIcons.astro"
import HeadMetaEn from "~components/en/HeadMeta.astro"

const redirectMessage: string = "redirecting..."

return Astro.redirect(getRelativeLocaleUrl(Astro.currentLocale, "404"))
---

<html lang={Astro.currentLocale}>
  <title>{redirectMessage}</title>
  <HeadMetaEn />
  <HeadIcons />
  <body>{redirectMessage}</body>
</html>
