---
import { type TLocale, defaultLocale } from "~/i18n"
import BaseLayout from "~layouts/BaseLayout.astro"
import AppLink from "~components/AppLink.astro"
import ToggleColorScheme from "~components/ToggleColorScheme.astro"
import { getRelativeLocaleUrl } from "astro:i18n"

interface Props {
  locale?: TLocale | undefined
}
const { locale = defaultLocale } = Astro.props
---

<BaseLayout locale={locale}>
  <div class:list={["py-5", "md:py-8"]}>
    <!-- Nav -->
    <nav class:list={["flex", "items-center", "justify-between", "mb-2", "md:mb-4"]}>
      <AppLink
        class:list={["leading-tight", "lowercase"]}
        url={getRelativeLocaleUrl("en")}
        showPrefixIcon
        prefixIconClassName="i-ri:arrow-left-line"
      >
        {locale === "en" && "back"}
        {locale === "zh" && "返回"}
      </AppLink>

      <ToggleColorScheme class="text-xl" />
    </nav>

    <h1
      class:list={["font-medium", "tracking-tight", "text-4xl", "sm:text-5xl", "text-gray-800", "dark:text-gray-300"]}
    >
      404
    </h1>
  </div>
</BaseLayout>
