---
import HeadIcons from "~components/HeadIcons.astro"
import HeadMetaEn from "~components/en/HeadMeta.astro"

const redirectMessage: string = "redirecting..."
---

<html lang="en">
  <title>{redirectMessage}</title>
  <HeadMetaEn />
  <HeadIcons />
  <body>{redirectMessage}</body>
</html>

<script>
  import { getLocale, setLocale } from "~/i18n"

  setLocale(getLocale())
</script>
