---
import BaseLayout from "~layouts/BaseLayout.astro"
import Profile from "./index/Profile.astro"
import Education from "./index/Education.astro"
import Work from "./index/Work.astro"
import Project from "./index/Project.astro"
---

<BaseLayout>
  <main>
    <Profile />
    <Education class="mt-24" />
    <Work class="mt-24" />
    <Project class="mt-24" />
  </main>
</BaseLayout>

<style>
  html {
    --at-apply: scroll-pt-19;
  }
</style>
