---
import BaseLayout from "~layouts/BaseLayout.astro"
import Profile from "./index/profile.astro"
import Education from "./index/education.astro"
import Work from "./index/work.astro"
import Project from "./index/project.astro"
import type { IEducation } from "~types/education"
import type { IWork } from "~types/work"
import type { IProject } from "~types/project"
import { mostRecentYearComparator } from "~utils/comparator"
import AppLink from "~components/AppLink.astro"

const educationList: IEducation[] = [
  {
    university: "California State University, Long Beach",
    degree: "B.S.",
    major: "Computer Science",
    GPA: "3.65",
    startYear: 2018,
    endYear: 2020,
    href: "https://www.csulb.edu/",
  },
  {
    university: "Mt. San Antonio College",
    major: "Computer Science",
    GPA: "3.48",
    startYear: 2015,
    endYear: 2018,
    href: "https://www.mtsac.edu/",
  },
]
educationList.sort(mostRecentYearComparator)

const workList: IWork[] = [
  {
    jobTitle: "Software Engineer",
    company: "Sacmi Machinery (Foshan Nanhai) Co., Ltd.",
    description:
      "Developed and styled various desktop apps for single-pass inkjet printer in ceramic tiles production. Deployed and maintained self-hosted private git and npm repositories. Provide leadership within R&D department through close collaboration and knowledge shares.",
    products: [
      { name: "SDP Print", href: "#" },
      { name: "SDP Print - Image Rotation", href: "#" },
    ],
    technologiesUsed: [
      "Typescript",
      "Vue 3",
      "Pinia",
      "Vue Router",
      "Element Plus",
      "Material UI",
      "UnoCSS",
      "Vite",
      "Go",
      "Wails v2",
      "Electron",
      "Docker",
    ],
    startYear: 2023,
    href: "https://www.sacmi.cn/sacmi-china",
  },
  {
    jobTitle: "Frontend Engineer",
    company: "Stramo",
    description:
      "Developed and maintained various interactive web apps for a bank client. Worked closely with cross-functional teams, including developers, designers, and product managers, to ensure compliance and code quality.",
    products: [
      { name: "Digifly", href: "#" },
      { name: "BMP", href: "#" },
    ],
    technologiesUsed: ["Javascript", "Vue 2", "Vuex", "Vue Router", "Element UI", "SCSS", "Webpack"],
    startYear: 2021,
    endYear: 2023,
    href: "http://www.stramo.cn/",
  },
]
workList.sort(mostRecentYearComparator)

const projectList: IProject[] = [
  {
    name: "Astro Theme Resume Minimalist",
    description: "An open-sourced minimalistic resume template built with Astro.",
    technologiesUsed: ["Astro", "Typescript", "Unocss", "HTML & CSS", "Github Pages"],
    preview: "",
    startYear: 2024,
    endYear: 2024,
    href: "#",
  },
  {
    name: "Certificate of Analysis Generator",
    description:
      "Desktop app for generating Certificate of Analysis with a few clicks in an analytical testing laboratory.",
    technologiesUsed: ["Flutter"],
    preview: "",
    startYear: 2023,
    endYear: 2023,
    href: "#",
  },
]
projectList.sort(mostRecentYearComparator)
---

<BaseLayout>
  <!-- Profile -->
  <section class="mt-18">
    <Profile />
  </section>

  <!-- Education -->
  <section class="mt-36">
    <h2 class="mb-4 py-5 text-sm font-semibold tracking-widest uppercase">education</h2>
    <ul>
      {
        educationList.map((it) => (
          <li class="mb-16 last-of-type:mb-0">
            <Education {...it} />
          </li>
        ))
      }
    </ul>
  </section>

  <!-- Work -->
  <section class="mt-36">
    <h2 class="mb-4 py-5 text-sm font-semibold tracking-widest uppercase">work</h2>
    <ul>
      {
        workList.map((it) => (
          <li class="mb-16 last-of-type:mb-0">
            <Work {...it} />
          </li>
        ))
      }
    </ul>

    <!-- View Full Resume -->
    <div class="mt-16">
      <AppLink class="capitalize" href="#" showSuffixIcon title="Resume">view full resume</AppLink>
    </div>
  </section>

  <!-- Projects -->
  <section class="mt-36">
    <h2 class="mb-4 py-5 text-sm font-semibold tracking-widest uppercase">projects</h2>
    <ul>
      {
        projectList.map((it) => (
          <li class="mb-16 last-of-type:mb-0">
            <Project {...it} />
          </li>
        ))
      }
    </ul>

    <!-- View All Projects -->
    <div class="mt-16">
      <AppLink class="capitalize" href="#" showSuffixIcon title="Projects">view all projects</AppLink>
    </div>
  </section>
</BaseLayout>
