---
import AppLink from "./AppLink.astro"
---

<footer class="px-6 pb-6 pt-24 text-(center xs) leading-relaxed">
  <p>
    <div>Made with ❤️ by Jianqiang Du.</div>
    <div>
      <span>Released under</span>
      <span class="inline-flex">
        <AppLink href="https://opensource.org/license/mit" showSuffixIcon title="The MIT License">
          The MIT license
        </AppLink>
        .
      </span>
    </div>
    <div>
      <span>Credits to:</span>
      <span class="inline-flex">
        <AppLink href="https://brittanychiang.com" showSuffixIcon title="Brittany Chiang's Portfolio">
          Brittany Chiang
        </AppLink>
        .
      </span>
    </div>
  </p>
</footer>
