---
import AppLink from "./AppLink.astro"
---

<footer class="px-6 pb-12 pt-48 text-(center xs) leading-relaxed">
  <p>
    <!-- Author -->
    <div>
      <span>
        Made with
        <span class="text-red-500">❤️</span>
        by
      </span>
      <span class="inline-flex">
        <AppLink
          class="text-gray-800 capitalize"
          url="https://yurikong.github.io"
          showSuffixIcon
          title="Jianqiang Du's Portfolio"
        >
          jianqiang du
        </AppLink>
        .
      </span>
    </div>

    <!-- License -->
    <div>
      <span>Released under</span>
      <span class="inline-flex">
        <AppLink class="text-gray-800" url="https://opensource.org/license/mit" showSuffixIcon title="The MIT License">
          The MIT License
        </AppLink>
        .
      </span>
    </div>

    <!-- Credit -->
    <div>
      <span>Credits —</span>
      <span class="inline-flex">
        <AppLink
          class="text-gray-800 capitalize"
          url="https://brittanychiang.com"
          showSuffixIcon
          title="Brittany Chiang's Portfolio"
        >
          brittany chiang
        </AppLink>
        .
      </span>
    </div>
  </p>
</footer>
