---
import AppLink from "./AppLink.astro"
---

<footer class="px-6 pb-12 pt-24 text-(center xs) leading-relaxed">
  <p>
    <!-- Author -->
    <div>
      <span>
        Made with
        <span class="text-red-500">❤️</span>
        by
      </span>
      <span class="inline-flex">
        <AppLink class="text-gray-800 capitalize dark:text-gray-400" url="https://yurikong.github.io" showSuffixIcon>
          jianqiang du
        </AppLink>
        .
      </span>
    </div>

    <!-- License -->
    <div>
      <span>Released under</span>
      <span class="inline-flex">
        <AppLink class="text-gray-800 dark:text-gray-400" url="https://opensource.org/license/mit" showSuffixIcon>
          The MIT License
        </AppLink>
        .
      </span>
    </div>

    <!-- Credit -->
    <div>
      <span>Credits —</span>
      <span class="inline-flex">
        <AppLink class="text-gray-800 capitalize dark:text-gray-400" url="https://brittanychiang.com" showSuffixIcon>
          brittany chiang
        </AppLink>
        .
      </span>
    </div>

    <!-- Engine -->
    <div>
      <span>Site built with</span>
      <span class="inline-fle">
        <AppLink class="text-gray-800 capitalize dark:text-gray-400" url="https://astro.build" showSuffixIcon>
          Astro
        </AppLink>
        .
      </span>
    </div>
  </p>
</footer>
