---
import AppLink from "./AppLink.astro"

interface Props {
  class?: string
}
const { class: className } = Astro.props
---

<header class="flex justify-between" class:list={[className]}>
  <!-- home nav -->
  <AppLink class="px-6 text-(lg gray-800) font-medium leading-14 lowercase" url={import.meta.env.BASE_URL}>
    resume
  </AppLink>

  <!-- hamburger -->
  <!-- <button class="h-14 w-14 flex items-center justify-center p-4">
    <i class="text-2xl" class:list={["i-material-symbols:menu-rounded"]}></i>
  </button> -->
</header>
