---
interface Props {
  url?: string | undefined
  showPrefixIcon?: boolean | undefined
  prefixIconClassName?: string | undefined
  showSuffixIcon?: boolean | undefined
  suffixIconClassName?: string | undefined
  title?: string | undefined
  class?: string | undefined
}

const url: string = Astro.props.url || "#"
const showPrefixIcon: boolean = Astro.props.showPrefixIcon ?? false
const prefixIconClassName: string = Astro.props.prefixIconClassName || "i-ri:links-line"
const showSuffixIcon: boolean = Astro.props.showSuffixIcon ?? false
const suffixIconClassName: string = Astro.props.suffixIconClassName || "i-ri:external-link-line"
const title: string | undefined = Astro.props.title || undefined
const className: string | undefined = Astro.props.class || undefined
---

<app-link class:list={[className]} data-url={url}>
  <a
    class:list={["block", { "cursor-default": url === "#" }]}
    href={url}
    target="_blank"
    rel="noopener noreferrer"
    title={title}
  >
    <!-- Prefix Icon -->
    {showPrefixIcon && <i class:list={[prefixIconClassName, "align-top"]} />}

    <!-- Text -->
    <slot />

    <!-- Suffix Icon -->
    {showSuffixIcon && <i class:list={[suffixIconClassName, "align-top"]} />}
  </a>
</app-link>

<script>
  class AppLink extends HTMLElement {
    connectedCallback(): void {
      //
      // Set `height` of <i> equal to `lineHeight` of <app-link>
      //
      const lineHeight: CSSStyleValue | undefined = this.computedStyleMap().get("line-height")
      if (lineHeight !== undefined) {
        const { value: lineHeightValue, unit: lineHeightUnit } = lineHeight as CSSUnitValue

        this.querySelectorAll("i").forEach((el) => {
          let h: string
          if (lineHeightUnit === "number") {
            h = `${lineHeightValue}em`
          } else {
            h = lineHeight.toString()
          }
          el.style.setProperty("height", h)
        })
      }

      const url: string = this.dataset.url!
      const a: HTMLAnchorElement | null = this.querySelector("a")
      if (a === null) {
        return
      }

      //
      // Customize `click` behavior based on `shouldSkip` & `isExternal`.
      //
      let isExternal: boolean = false
      let shouldSkip: boolean = false
      if (url === "#") {
        shouldSkip = true
      } else {
        // judge whether `href` is external
        const destinationURL: URL = new URL(url)
        const { protocol: destinationProtocol, hostname: destinationHostname } = destinationURL
        const { protocol: currentProtocol, hostname: currentHostname } = window.location
        isExternal = destinationProtocol !== currentProtocol || destinationHostname !== currentHostname
      }
      a.addEventListener("click", (evt: MouseEvent): void => {
        if (shouldSkip) {
          evt.preventDefault()
          return
        } else if (isExternal) {
          // TODO: user confirm
        } else {
          evt.preventDefault()
          // TODO: in page scroll
        }
      })
    }
  }

  customElements.define("app-link", AppLink)
</script>
