---
// Hack: Iconify icons referenced through astro endpoints are not bundled, therefore import theme here for bundle processing.
const iconClassNames: string[] = [
  "i-ri:github-fill",
  //
].toSorted()
---

<div class="hidden">
  {iconClassNames.map((it) => <i class={it} />)}
</div>
