---
import countryCodeToFlagEmoji from "country-code-to-flag-emoji"

interface Props {
  class?: string
}
const { class: className } = Astro.props
---

{
  Astro.currentLocale && (
    <button id="toggle-locale" class:list={["flex", className]} type="button">
      {countryCodeToFlagEmoji(Astro.currentLocale)}
    </button>
  )
}

<script>
  import { switchLocale } from "~/i18n"

  const el: HTMLElement | null = document.getElementById("toggle-locale")
  if (el) {
    el.addEventListener("click", switchLocale)
  }
</script>
