---
import type { IExperience } from "~types/experience"

interface Props extends IExperience {
  class?: string
}
const { startYear, endYear, class: className } = Astro.props
---

<div class={className}>
  <span>{startYear}{startYear !== endYear && <span> — {endYear ?? "Present"}</span>}</span>
</div>
