---
import Inter from "~assets/fonts/Inter.astro"
import AppFooter from "~components/AppFooter.astro"
import IconifyIconsBundleHack from "~components/IconifyIconsBundleHack.astro"

const title: string = "Astro Theme Resume Minimalist — Jianqiang Du"
const description: string = "An open-sourced minimal resume site template built with Astro."
---

<html lang="en" class="scroll-smooth">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <Inter />

  <body
    class:list={[
      "tabular-nums",
      "antialiased",
      "relative",
      "leading-relaxed",
      "text-gray-500",
      "bg-gray-100",
      "dark:bg-gray-900",
      "max-w-screen-lg",
      "mx-auto",
    ]}
  >
    <IconifyIconsBundleHack />

    <div class:list={["px-6", "md:px-12"]}>
      <slot />
    </div>

    <AppFooter />
  </body>
</html>

<style>
  :root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
      "Segoe UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }

  html {
    font-family: var(--font-family);
  }
</style>
