---
import Inter from "~assets/fonts/Inter.astro"
import AppHeader from "~components/AppHeader.astro"
import AppFooter from "~components/AppFooter.astro"
import "~styles/index.css"

const title: string = "astro-theme-resume-minimalist"
const description: string = "A minimal astro resume site template."
---

<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <Inter />

  <body>
    <AppHeader />

    <main class="px-6 py-12">
      <slot />
    </main>

    <AppFooter />
  </body>
</html>

<script>
  import { setDarkClass } from "~utils/setDarkClass"

  setDarkClass()
</script>
