---
import "~styles/index.css"
import { ViewTransitions } from "astro:transitions"
import AppHeader from "~components/AppHeader.astro"

const title: string = "astro-theme-resume"
const description: string = "A simple astro resume template."
---

<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <ViewTransitions />

  <body>
    <AppHeader />
    <slot />
  </body>
</html>

<script>
  import { setDarkClass } from "~utils/setDarkClass"

  setDarkClass()
</script>
