---
import { ViewTransitions } from "astro:transitions"
import AppHeader from "~components/AppHeader.astro"
import "~styles/index.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>astro-theme-resume</title>
    <ViewTransitions />
    <script src="./setDarkClass.ts"></script>
  </head>

  <body>
    <AppHeader />

    <slot />
  </body>
</html>
