---
import Inter from "~assets/fonts/Inter.astro"
import AppFooter from "~components/AppFooter.astro"
import "~styles/index.css"

const title: string = "Astro Theme Resume Minimalist — Jianqiang Du"
const description: string = "An open-sourced minimal resume site template built with Astro."
---

<html lang="en">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <Inter />

  <body class="relative bg-gray-100 text-gray-500">
    <div class="px-6 py-12">
      <slot />
    </div>

    <AppFooter />
  </body>
</html>

<script>
  import { setDarkClass } from "~utils/setDarkClass"

  setDarkClass()
</script>
